body {
  font-family: 'Arial', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(45deg, #4ecdc4, #556270, #c7ecee, #f0932b);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  margin-top: 50px;
  border-radius: 8px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header {
  text-align: center;
  margin: 50px 0 20px;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

input {
  border-radius: 8px;
  padding: 10px;
  font-size: 1.2rem;
  background: #f8f9fa !important;
  color: #000 !important;
}

button {
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.list-group-item button {
  margin-left: 10px;
}

.list-group-item span {
  display: flex;
  align-items: center;
}

button:disabled {
  background: #ddd;
  cursor: not-allowed;
}

.dropdown-toggle {
  color: #fff !important;
  background: #17a2b8 !important;
  border: none !important;
}

.dropdown-menu {
  background: #17a2b8 !important;
  color: #fff !important;
}

.dropdown-item {
  color: #fff !important;
}

.dropdown-item:hover {
  background: #138496 !important;
  color: #fff !important;
}

.dropdown-item:focus, .dropdown-item:active {
  background: #138496 !important;
  color: #fff !important;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.footer-buttons .dropdown {
  margin-left: 40px; 
}
